<launch>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="false" />
  <arg name="headless" default="false"/>
  <arg name="teleopUGV" default="false"/>

  <include file="$(find jsk_mbzirc_common)/launch/mbzirc_arena_1.launch" >
    <arg name="paused" default="$(arg paused)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" default="$(arg headless)"/>
  </include>

  <arg name="cheat" default="false" />

  <arg unless="$(arg cheat)" name="x" value="65"/>
  <arg     if="$(arg cheat)" name="x" value="0"/>
  <arg unless="$(arg cheat)" name="y" value="-25"/>
  <arg     if="$(arg cheat)" name="y" value="0"/>
  <arg unless="$(arg cheat)" name="z" value="0.3"/>
  <arg     if="$(arg cheat)" name="z" value="0.3"/>
  <group if="$(arg cheat)" >
    <node pkg="jsk_mbzirc_tasks" type="task_1_cheat.py" name="task_1_cheat" />
  </group>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find jsk_mbzirc_tasks)/urdf/quadrotor_with_hokyo30lx_and_downward_cam.urdf.xacro"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
  </include>

  <!-- workaround until https://github.com/ros/ros_comm/pull/728 get released --> 
  <node pkg="jsk_mbzirc_tasks" name="remain_time_text_to_overlay" type="relay_field_728.py"
        args="/remaining_time /remaining_time_overlay jsk_rviz_plugins/OverlayText
              'text: m.data' --wait-for-start" />

  <group unless="$(arg headless)" >
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jsk_mbzirc_tasks)/config/task1.rviz"/>

    <node pkg="jsk_mbzirc_tasks" type="uav_teleop_keyboard" name="uav_teleop_keyboard"
          launch-prefix="xterm -e">
  	<param name="teleopUGV" value="$(arg teleopUGV)"/>
	<remap from="teleopUGV" to="uav_teleop_keyboard/teleopUGV"/>
    </node>

  </group>

</launch>
