<launch>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>e
  <arg name="gui" default="false" />
  <arg name="headless" default="false"/>

  <include file="$(find jsk_mbzirc_common)/launch/mbzirc_arena_2.launch" >
    <arg name="paused" default="$(arg paused)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" default="$(arg headless)"/>
  </include>

  <arg name="cheat" default="false" />
  <group if="$(arg cheat)" >
    <node pkg="jsk_mbzirc_tasks" type="task_2_cheat.py" name="task_1_cheat" />
  </group>

  <!-- Spawn simulated ugv -->
  <arg unless="$(arg cheat)" name="robot_initial_pose" value="-x 65  -y -25 -z 0.3" />
  <arg     if="$(arg cheat)" name="robot_initial_pose" value="-x 1.5 -y   0 -z 0.3 -Y 3.14" />
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="false"/>
    <arg name="ur5_enabled" value="true"/>
    <arg name="kinect_enabled" value="false"/>
    <arg name="gripper_enabled" value="true"/>
    <arg name="ur5_control_yaml_file" value="$(find jsk_mbzirc_tasks)/config/control_ur5.yaml"/>
    <arg name="robot_initial_pose" value="$(arg robot_initial_pose)"/>
    <arg name="huskey_gazebo_description" value="$(find jsk_mbzirc_tasks)/urdf/husky_with_camera.urdf.xacro"/>
  </include>

  <!-- moveit -->
  <include file="$(find husky_ur5_moveit_config)/launch/husky_ur5_planning_execution.launch">
    <arg name="sim" value="true"/>
    <arg name="limited" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <!-- workaround until https://github.com/ros/ros_comm/pull/728 get released --> 
  <node pkg="jsk_mbzirc_tasks" name="remain_time_text_to_overlay" type="relay_field_728"
        args="/remaining_time /remaining_time_overlay jsk_rviz_plugins/OverlayText
              'text: m.data' --wait-for-start" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jsk_mbzirc_tasks)/config/task2.rviz"/>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard"
        launch-prefix="xterm -e" />

</launch>
