<launch>
  <arg name="image" default="/downward_cam/camera/image" />

  
  <node pkg="jsk_mbzirc_tasks" type="uav_detect_landing_region_node"
	name="uav_detect_landing_region" output="screen" >
    <remap from="input_image" to="$(arg image)" />
    <!-- <remap from="input_mask" to="$(arg image)" /> -->
    <remap from="input_mask" to="/track_region_mapping/output/track_mask" />
  </node>
</launch>
