<launch>
  <arg name="save_dir" default="/tmp/hrp2_rosbag" />
  <arg name="save_multisense" default="true" />
  <arg name="save_velodyne" default="true" />
  <arg name="save_cmd_vel" default="true" />
  <arg name="save_net_usb_cam" default="true" />
  <arg name="publish_tf_body_to_velodyne" default="true" />
  <arg name="other_topics" default="" />

  <arg name="velodyne_msgs" value="/velodyne_packets" if="$(arg save_velodyne)"/>
  <arg name="velodyne_msgs" value="" unless="$(arg save_velodyne)"/>
  <arg name="cmd_vel_msgs" value="/cmd_vel" if="$(arg save_cmd_vel)" />
  <arg name="cmd_vel_msgs" value="" unless="$(arg save_cmd_vel)" />
  <arg name="net_usb_cam_msgs" value="/net_usb_cam/camera_info /net_usb_cam/image_raw"
       if="$(arg save_net_usb_cam)" />
  <arg name="net_usb_cam_msgs" value="" unless="$(arg save_net_usb_cam)" />

  <include file="$(find jsk_data)/launch/hrp2_record.launch">
    <arg name="save_openni" value="false" />
    <arg name="save_all_image" value="false" />
    <arg name="save_multisense" value="$(arg save_multisense)" />
    <arg name="save_dir" value="$(arg save_dir)" />
    <arg name="other_topics" value="$(arg velodyne_msgs) $(arg cmd_vel_msgs) $(arg net_usb_cam_msgs) $(arg other_topics)" />
  </include>

  <!-- this is temporally added. we should remove when link is written on robot_description -->
  <node name="ground_to_velodyne" pkg="tf" type="static_tf_publisher"
        args="-0.037 0 0.011 0 0 0 /BODY velodyne 10"
        if="$(arg publish_tf_body_to_velodyne)" />
</launch>
